    <div id="content">

			<h3>板块</h3>
			<div id="btn-area">
				<button class="btn btn-new"  ng-click="editUser('new')">新增</button>
				<button class="btn" ng-click="save(boardId,boardName,boardPic,boardType,boardCheck)">保存</button>
				<h4 ng-show="edit">新增信息</h4>
				<h4 ng-hide="edit">修改信息</h4>
				<form id="form" class="row">
					<div class="form-group w6 row">
						<label class="w3">序号</label>
						<div class="w9"><input class="form-control" type="text" ng-model="boardId" ng-disabled="!edit" /></div>
					</div>
					<div class="form-group w6 row">
						<label class="w3">版块名称</label>
						<div class="w9"><input class="form-control" type="text" ng-model="boardName" /></div>
					</div>
					<div class="form-group w6 row">
						<label class="w3">类型</label>
						<div class="w9"><input class="form-control" type="text" ng-model="boardType" /></div>
					</div>
					<div class="form-group w6 row">
						<label class="w3">图片文件</label>
						<div class="w9"><input class="form-control" type="text" ng-model="boardPic" /></div>
					</div>
					<div class="form-group w6 row">
						<label class="w3">审核</label>
						<div class="w9"><input class="form-control" type="text" ng-model="boardCheck" /></div>
					</div>
					
				</form>
		
			</div>
			<table>
				<thead>
					<tr>
						<th>序号</th>
						<th>版块名称</th>
						<th>类型</th>
						<th>图片文件</th>
						<th>审核</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in boards">
						<td>{{x.boardId}}</td>
						<td class="cursorpoint" ng-click="editUser(x)">{{x.boardName}}</td>
						<td>{{x.boardType}}</td>
						<td>{{x.boardPic}}</td>
						<td>{{x.boardCheck}}</td>
						<td class="delete"><label><input class="mui-switch mui-switch-animbg" type="checkbox"></label></td>
					</tr>
				</tbody>
			</table>
</div>